@font-face{
    font-family:leaves;
    src: url(enunciadoG/leaves_and_ground.ttf);
}

#cabeza{
    text-align: center;
    font-family:leaves;
    font-size: 60px;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 20px;
    animation: cambioColorYSeparacion 4s ease-in-out 3;
    animation-direction: alternate;
}
#foto{
    width: 100%;
    height: 450px;
    background-image: url(enunciadoG/extendido.jpg);
    background-size: cover;
    position: relative;
}
#logo{
    float: right;
    margin:5px 5px;
}
#menu{
    width: 50%;
    height: 60px;
    position:absolute;
    margin-top: 90px;
    font-family:leaves;
    display: flex;
    justify-content: space-around;
    background-color: #666666;
}
#menu a{
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    position: relative;
    letter-spacing: 12px;
    color:white;
    font-size: 40px;
    margin-top: 7px;
}
    #menu a:hover{
        text-decoration: underline;
        animation: juntarLetras 2s ease-in-out 1;
    }
#contenedor{
    width: 100%;
    height: 300px;
    position:relative;
    display: flex;
    justify-content: space-between;
}
#izq{
    width: 70%;
    height: 300px;
    text-align: center;

}
#izq > p{
    text-decoration: underline;
    font-style:italic;
}
#der{
    width: 30%;
    height: 300px;
}
@keyframes cambioColorYSeparacion {
    from {
        color:white;
        letter-spacing:2px;
    }
    to{
        color:black;
        letter-spacing: 20px;
    }
}
@keyframes juntarLetras{
    from {
        letter-spacing:12px;
    }
    to{
        letter-spacing: 5px;
    }
}