body{
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#container{
    width: 960px;
    justify-content: center;
    background-color: #dddddf;
    display: grid;
    grid-template-columns:380px 176px 176px 176px;
    grid-template-rows: 240px 200px 80px;
    gap:10px
}

a{
    position: absolute;
    padding-top: 450px;
    padding-left: 50px;
}
.ima{
    width: 125px;
    padding-top: 20px;
}
h1{
    color:#ff9966
}
.logo{
    width: 30px;
    float:right;
    padding: 30px 10px;
}

.uno{
    grid-row: 1 / -1;
    margin: 5px;
    background-image: url(imagenes/hombrepeque¤o.jpg);
}

.dos{
    grid-column: 2 / 5;
}
.dos b{
    color:#ff9966
}
.cuatro:hover{
    p{
        display:none;
    }
}
.siete{
    grid-column: 2 / 5;
}
.cuatro{
    background-color: white;
    text-align: center;
}
.cinco{
    background-color: white;
    text-align: center;
}
.cinco:hover{
    p{
        display:none;
    }
}
.seis{
    position: relative;
    background-color: white;
    text-align: center;
}
.seis:hover{
    p{
        display:none;
    }
    
    .C{
        opacity: 100;
    }   
    .A{
        opacity: 100;

        }
}
.seis p{
margin-top:90%
}
.C, .A{
    position:absolute;
    top: 40%;
    left: 45%;
    translate: -40% -45%;
    transition: all 1s ease-in-out;
}
.A{
    opacity: 0;
}